$drk-1: #1c1d3f;
$drk-2: #22254b;
$drk-3: #25284d;
$drk-4: #292e55;
$drk-5: #34365d;
$drk-6: rgb(76, 87, 129);

$lght-1: #ffffff;
$lght-2: #f6f6f6;
$lght-3: #ececec;
$lght-4: #e1e1e1;
$lght-5: #d0d0d0;
$lght-6: rgb(196, 199, 213);

$main: #eba232;
$sub: #3656ff;
