@import "./../../../../scss/variables.scss";

.roulette-history {
  display: flex;
  align-items: center;

  span {
    margin-right: 1rem;
    color: $lght-5;
    font-weight: 700;
  }

  img {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
