@import "./../../../scss/variables.scss";

.button {
  padding: 0.4rem 1rem;
  background: $sub;
  position: relative;
  color: #fff;
  transition: 0.2s;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }

  &:disabled {
    opacity: 0.4;
  }
}
