@import "./../../../scss/variables.scss";

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5rem;
  padding: 0 0.7rem;
  border-left: 1px solid $drk-5;
  border-right: 1px solid $drk-5;
  color: $drk-6;

  svg {
    width: 30px;
  }
}
